.main{
    background-color: #F5F5F7;
    display: flex;
    width: 13rem;
    height: 10rem;
    border-radius: 10rem;
    justify-content: center; /*text 수평정렬*/
    align-items: center; /*text 수직정렬*/
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    white-space: pre-line;
}
.main:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: .3s ease-in-out;
}