.modalOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: #fcfbfa;
  background-color: rgba(252, 251, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.modalContent {
  background-color: var(--white);
  border-radius: 12px;
  max-width: 640px;
  color: var(--color-gray-gray-900);
}
@media (max-width: 768px) {
  .modalContent {
    max-width: calc(100vw - 32px);
  }
}
