.main {
  font-family: "toss";
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  white-space: pre-line;
  background-color: #f9f9f9;
  font-size: 3rem;
  font-weight: 800;
  justify-content: center; /*text 수평정렬*/
  align-items: center; /*text 수직정렬*/
  text-align: center;
}
